{% macro github() %}
<script
  src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"
></script>
<link
   rel="stylesheet"
   href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"
/>
<section id="github" class="s-about target-section">
    <div class="row narrow section-intro">
        <div class="col-full">
            <div class="github-calendar"></div>
        </div>
    </div>
</section>
<script>
    GitHubCalendar(".github-calendar", "{{ section.extra.github.username }}", { global_stats: {{ section.extra.github.global_stats}}, responsive: true });
</script>
{% endmacro %}