{% extends "base.html" %}

{% block content %}
{# Enable menu section #}
{% if config.extra.enabled.menu %}
    {{ macros_menu::menu() }}
{% endif %}

<section id="blog" class="s-blog page-hero target-section">
  <div class="overlay"></div>
  <div class="shadow-overlay"></div>
  <div id="sketch" style="z-index: -10"></div>
  <div class="blog-content">
      <div class="row blog-content__main">
          <h3>Blog</h3>
          <h1>Some blog</h1>
      </div>
  </div>
</section>
<script src="js/p5.min.js"></script>
<script src="js/flow.js"></script>

<section id="blog" class="s-about-list">
  <div class="row about-content">
    <div class="col-full text-center">
        <h3></h3>
    </div>

    <div class="col-full">
      {% for page in section.pages %}
        <div class="timeline__block">
            <div class="timeline__header">
                <p class="timeline__timeframe">01/01/2020</p>
                <h3><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
            </div>
            <div class="timeline__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos neque architecto nesciunt ex vero ut eos iure possimus accusamus adipisci?
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}