{% extends "base.html" %}

{% block content %}
{# Enable menu section #}
{% if config.extra.enabled.menu %}
    {{ macros_menu::menu() }}
{% endif %}

{# Enable profile section #}
{% if config.extra.enabled.profile %}
    {{ macros_profile::profile() }}
{% endif %}

{# Enable about section #}
{% if config.extra.enabled.about %}
    {{ macros_about::about() }}
{% endif %}

{# Enable projects section #}
{% if config.extra.enabled.projects %}
    {{ macros_projects::projects() }}
{% endif %}

{# Enable quote section #}
{% if config.extra.enabled.quote %}
    {{ macros_quote::quote() }}
{% endif %}

{# Enable quote section #}
{% if config.extra.enabled.quote %}
    {{ macros_github::github() }}
{% endif %}

{# Enable contact section #}
{% if config.extra.enabled.contact %}
    {{ macros_contact::contact() }}
{% endif %}
{% endblock content %}